aiogrpc==1.7
bsn-sdk==0.0.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
fabric-sdk-py==0.8.1
grpcio==1.26.0
hkdf==0.0.3
idna==2.8
lark-parser==0.7.1
protobuf==3.11.2
pycparser==2.19
pycryptodomex==3.9.4
pysha3==1.0b1
requests==2.22.0
Rx==3.0.1
six==1.14.0
urllib3==1.26.5
